

#home {
  position: relative;
  width: 100vw;
  height: 120vh; /* Increase height to make the image bigger */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure image is behind the text */
}

#home .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire section */
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

#home h1, #home p {
  position: relative;
  z-index: 1; /* Ensure text is above the image */
  color: white;
}


#about {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#about .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#about .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1, #home p, #about h1, #about p {
  position: relative;
  color: white; /* Change text color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add text shadow for better readability */
}

#home h1 {
  margin-top: 20%;
  font-size: 3em;
}

#home p {
  margin-top: 30%;
  font-size: 1.5em;
}

#about h1 {
  margin-top: 20%;
  font-size: 3em;
  z-index: 1; /* Ensure text is above the image */
}

#about p {
  margin-top: 30%;
  font-size: 1.5em;
  z-index: 1; /* Ensure text is above the image */
}
