/* Reset default margin and padding */
.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #34230e;
  color: rgb(151, 111, 18);
  margin: 0;
}

/* Navigation Bar Styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.nav-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-weight: bold;
  color: goldenrod;
  text-decoration: none;
}

.my-nav-logo {
  height: 76px;
  width: 76px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-links a {
  font-size: 1.2em;
  color: goldenrod;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: white;
}

.nav-connect {
  font-size: 1.2em;
  color: goldenrod;
  padding: 10px;
  border-radius: 16px;
  background-color: #34230e;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}

.nav-connect:hover {
  color: #34230e;
  background-color: goldenrod;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

/* Golden Styles */
.nav.scrolled {
  background-color: #34230e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav.scrolled .nav-links a {
  color: goldenrod;
}

.nav.scrolled .nav-links a:hover {
  color: white;
}

.nav.scrolled .nav-connect {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 16px;
  text-decoration: none;
  color: #34230e;
  background-color: goldenrod;
  transition: color 0.5s ease;
}

.nav.scrolled .nav-connect:hover {
  color: white;
  background-color: goldenrod;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-logo {
    margin-bottom: 10px;
  }

  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    position: absolute;
    top: 60px; /* Adjust this to align with your nav height */
    left: 0;
    right: 0;
    z-index: 999;
  }

  .nav-links.show ul {
    padding: 20px;
  }

  .nav-links.show li {
    margin: 10px 0;
  }

  .nav-links.show a {
    color: white;
  }

  .nav-toggle {
    display: block;
  }

  .nav-connect {
    display: block; /* Show on smaller screens */
    font-size: 1.2em;
    color: white;
    padding: 10px;
    border-radius: 16px;
    background-color: goldenrod;
    cursor: pointer;
    margin-top: 10px; /* Adjust spacing */
  }
}

/* Home section styles */
#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

#home .image-container {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#home .cover-image {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  z-index: 1;
}

#home h1 {
  position: absolute;
  display: flex;
  color: goldenrod;
  font-size: 9em;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 25%;
}

#home p {
  color: goldenrod;
  position: absolute;
  font-size: 2em;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 10%;
  margin-bottom: 15%;
}

/* About section */
#about {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}