/* Reset default margin and padding */
.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #34230e;
  color: rgb(151, 111, 18);
  margin: 0;
}

/* Navigation Bar Styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.nav-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-weight: bold;
  color: goldenrod;
  text-decoration: none;
}

.my-nav-logo {
  height: 76px;
  width: 76px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-links a {
  font-size: 1.2em;
  color: goldenrod;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #34230e;
}

.nav-connect {
  font-size: 1.2em;
  color: goldenrod;
  padding: 10px;
  border-radius: 16px;
  background-color: #34230e;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}

.nav-connect:hover {
  color: #34230e;
  background-color: goldenrod;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

/* Golden Styles */
.nav.scrolled {
  background-color: #34230e;
}

.nav.scrolled .nav-links a {
  color: white;
}

.nav.scrolled .nav-links a:hover {
  color: white;
}

.nav.scrolled .nav-connect {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 16px;
  text-decoration: none;
  color: #34230e;
  background-color: goldenrod;
  transition: color 0.5s ease;
}

.nav.scrolled .nav-connect:hover {
  color: white;
  background-color: goldenrod;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
  }

  .nav-logo {
    margin-bottom: 10px;
  }

  .nav-links {
    display: none;
    width: 80%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    top: 76px; /* Adjust this to align with your nav height */
  
    right: 10%;
    width: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 1, .5);
    z-index: 999;

  }

  .nav-links.show ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .nav-links.show li {
    margin: 10px 0;
  }

  .nav-links.show a {
    color: white;
  }
  .nav-links a:hover {
    font-size: 25px;
    font-weight: 700;
    color: black;
  }
  .nav-toggle {
    display: block;
  }

  .nav-connect {
    display: block; /* Show on smaller screens */
    font-size: 1.2em;
    color: white;
    padding: 10px;
    border-radius: 16px;
    background-color: goldenrod;
    cursor: pointer;
    margin-top: 0; /* Adjust spacing */
  }
}

/* Home section styles */
.section-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-title {
  font-size: 9vw;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  color: goldenrod;
  position: absolute;
  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust to make sure it's not too close to the edges */
  text-align: center;
  white-space: nowrap; /* Ensure the text stays in one line */
}
.image-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 90%; /* Ensure the image container takes full height */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align image to the bottom */

}

/* 
#home .image-container { 
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
} */

.cover-image {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 100%;
  z-index: 1;
}
.arrow-box {
  position: relative;
  background-color: transparent;
  color: goldenrod;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-bottom: 15%;
  margin-left: 50%;
  width: 25%;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow-box .scroll-down {
  animation: bounce 2s infinite;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
}

.scroll-down .fas :hover {
  background-color: goldenrod;
  color: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
}


.home-description {
  position: relative;
  max-width: 80%;
  font-size: 1.2em;
  z-index: 2;
  margin-top: 20px;
  color: rgb(151, 111, 18);
  text-align: center;
}
/* 
#home p {
  color: goldenrod;
  font-size: 2em;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 10%;
  margin-bottom: 15%;
} */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .home-title {
   top: 38%;
    font-size: 18vw;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.2; /* Adjust line height for readability */
  
  }
  .cover-image {
    object-fit: cover;
  height: 80%;
  width: 100%;
  
  }
  .arrow-box {
    width: 80%;
    height: auto;
    font-size: 1em;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* About section */
#about {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* Ensure the section takes at least the height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34230e; /* Adjust as per your design */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  background-image: url("images/about-background.jpg"); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  z-index: 4;
} 



/* About section */
.section-about {
  background-color: white; /* Adjust as per your design */
  color: goldenrod;
  padding: 80px 0; /* Adjust padding as needed */
  text-align: center;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Adjust the gap between boxes */
}

.about-box {
  flex: 1 1 300px; /* Flexbox properties for responsiveness */
  background-color: transparent; /* Darker SaddleBrown */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.about-box h2,
.about-box h3 {
  color: goldenrod;
}

.about-box ul {
  list-style: none;
  padding: 0;
}

.about-box ul li {
  margin-bottom: 10px;
}

.about-box ul li a {
  color: #daa520; /* Goldenrod */
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-box ul li a:hover {
  color: #ffd700; /* Lighter golden color for hover effect */
}

footer {
  margin-top: 10px;
  background-color: #63310c; /* Darker SaddleBrown */
  height: auto;
  width: 100%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  color: #daa520; /* Goldenrod */
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.social-media {
  margin: 10px 0; /* Adjusted margin to bring items closer */
}

.social-media a {
  color: #daa520;
  margin: 0 5px; /* Reduced margin to bring icons closer */
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
  color: #34230e; /* Lighter golden color for hover effect */
  transform: rotate(20deg) scale(1.2); /* Rotate and scale effect */
}

footer p {
  margin: 0;
  padding: 10px 0 10px 0;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .logo,
  .social-media {
    margin: 0 10px; /* Adjusted margin for centering */
  }
}
