/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background: url('../images/ag-vector-curves.png') no-repeat center center fixed;
  background-size: cover; /* Adjust the image to cover the entire background */
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #34230e;
  color: goldenrod;
  margin: 0;
}

/* Home section styles */
.section-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.home-title {
  font-size: 9vw;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  color: goldenrod;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust to make sure it's not too close to the edges */
  text-align: center;
  white-space: nowrap; /* Ensure the text stays in one line */
}

/* #vector-background {
  width: 100%;
  height: 99%;
  margin-left: 0;
  z-index: -1;
} */

#alish-image {
  width: 5%;
  position: absolute;
  pointer-events: none; /* Make sure the image doesn't interfere with mouse events */
  z-index: 1; /* Behind everything */
  opacity: 200; /* Adjust the opacity of the image */
  transition: left 0.1s, top 0.1s; /* Smooth transition effect */
}
.image-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 90%; /* Ensure the image container takes full height */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align image to the bottom */
}

.cover-image {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 100%;
  z-index: 1;
}
.arrow-box {
  position: absolute;
  background-color: #34230e;
  color: goldenrod;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 40%);
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  margin-bottom: 10%;
  margin-left: 50%;
  width: 25%;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow-box .scroll-down {
  animation: bounce 2s infinite;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
}

.scroll-down .fas :hover {
  background-color: goldenrod;
  color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.home-description {
  position: relative;
  max-width: 80%;
  font-size: 1.2em;
  z-index: 2;
  margin-top: 20px;
  color: rgb(151, 111, 18);
  text-align: center;
}
/* 
#home p {
  color: goldenrod;
  font-size: 2em;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 10%;
  margin-bottom: 15%;
} */
@media only screen and (min-width: 1px) and (max-width: 400px) {
  #alish-image {
    display: none;
  }
}
@media only screen and (min-width: 420px) and (max-width: 768px) {
  .home-title {
    top: 38%;
    font-size: 18vw;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.2; /* Adjust line height for readability */
  }

  /* #vector-background {
    object-fit: fill;

    z-index: -1;
  } */

  .cover-image {
    object-fit: cover;
    height: 90%;
    width: 100%;
  }

  .arrow-box {
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 1em;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1px) and (max-width: 420px) {
  .home-title {
    top: 35%;
    font-size: 18vw;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.2; /* Adjust line height for readability */
  }
  #vector-background {
    object-fit: fill;
    z-index: -1;
  }

  .cover-image {
    object-fit: cover;
    height: 80%;
    width: 100%;
    max-height: 100%;
  }

  .arrow-box {
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 1em;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
}


/* demo video section  */
.demo-video {
  text-align: center;
  width: 100%;
}
.demo-video h1{
  margin: 20px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video-container video {
  max-width: 900px;
  width: 90%;
  height: auto; /* Maintain aspect ratio */
}


/* footer styles here */
footer {
  position: absolute;
  margin: 0;
  background-color: #63310c; /* Darker SaddleBrown */
  height: auto;
  width: 100%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  color: #daa520; /* Goldenrod */
  padding: 20px;
  text-align: center;
  z-index: 8;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.social-media {
  margin: 10px 0; /* Adjusted margin to bring items closer */
}

.social-media a {
  color: #daa520;
  margin: 0 5px; /* Reduced margin to bring icons closer */
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
  color: #34230e; /* Lighter golden color for hover effect */
  transform: rotate(20deg) scale(1.2); /* Rotate and scale effect */
}

footer p {
  margin: 0;
  padding: 10px 0 10px 0;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: center; /* Center the content */
    align-items: center;
  }

  .logo,
  .social-media {
    margin: 0 10px; /* Adjusted margin for centering */
  }
}



