/* Videos Section Styles */
.section-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%; /* Set to 80% of the viewport width */
  margin: 0 auto; /* Center the section horizontally */
  padding: 100px 0; /* Adjust padding as needed */
}



/* Channel Section */
.channel-container, .videos-container {
  width: 80%; /* Set to 100% of the parent (videos-section) width */
  max-width: 900px; /* Maximum width of 900px */
  margin: 0 auto; /* Center the section horizontally */
}


.channel {
  display: flex;
  align-items: center;
  gap: 40px; /* Increased gap between channel elements */
  background-color: #34230e; /* Background color for each channel */
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Shadow */
}

.company-logo {
  width: 15%; /* Adjusted width for company logo */
  height: 100%; /* Full height of channel container */
  display: flex;
  align-items: center;
}

.company-logo img {
  width: 100%;
  height: 100%;
  border-radius: 0; /* Rounded corners for company logo */
}

.channel-info {
  width: 60%;
  display: flex; /* Take remaining space */
  gap: 20px;
  color: goldenrod; /* Text color */
}

.channel-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.channel-info p {
  font-size: 0.9em;
  margin-bottom: 8px;
  /* Allow description to wrap */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.channel-logo img {
  width: 80px; /* Adjusted size for channel logos */
  height: 80px;
  border-radius: 50%; /* Make the image circular */
}

.subscribe-button {
  margin-left: auto; /* Align button to right */
}

.subscribe-button button {
  padding: 8px 12px;
  font-size: 1em;
  color: #34230e; /* Button text color */
  background-color: goldenrod; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-button button:hover {
  background-color: #ffd700; /* Hover background color */
  color: #34230e; /* Hover text color */
}



/* Video Section */


.video-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: goldenrod;
}


.big-video {
  flex: 2 1 100%; /* Larger width for one video, taking full width on smaller screens */
  max-width: 100%;
  height: 100%; /* Ensures video doesn't exceed container */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.big-video iframe {
  width: 100%;
  height: 460px;
}

.big-video p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.videos-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video {
  flex: 1 1 calc(50% - 10px); /* Two videos per row, each taking up half minus gap */
  max-width: calc(50% - 10px); /* Adjusted width to maintain two videos per row */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.video iframe {
  width: 100%; /* Ensures the iframe takes full width of its container */
  max-width: 100%; /* Ensures the video iframe doesn't exceed its container */
  height: 300px; /* Adjust height as needed */
  border: none;
}

/* Responsive design */
@media (max-width: 1024px) {
  .video {
    flex-basis: calc(50% - 10px); /* Adjust width for two videos per row */
  }

  .big-video {
    flex-basis: 100%; /* Full width for larger video on smaller screens */
  }
}

@media (max-width: 768px) {
  .video {
    flex-basis: calc(50% - 10px); /* Adjust width for two videos per row */
  }

  .big-video {
    flex-basis: 100%; /* Full width for larger video on smaller screens */
  }
}

@media (max-width: 480px) {
  .video {
    flex-basis: 100%; /* Full width for all videos on extra small screens */
  }
}
